/*Menú*/

.menú {
    display: flex;
    background-color: rgb(234, 250, 234);
    text-align: center;
    white-space: nowrap;
    /*no baje las palabras en una frase -sobre nosotros-*/
}

.menú ul {
    list-style: none;
    margin: 15px;
    padding-right: 100px;
}

.menú li {
    padding: 15px 20px;
    display: inline-block;
    font-size: 30px;
}

.menú a:hover {
    color: rgb(110, 142, 89);
    border-radius: 4px;
    /*redondo en las esquinas*/
    padding: 15px 20px;
}

.intro li {
    padding: 10px;
    margin: 10px;
}

.intro a {
    text-decoration: none;
    color: rgb(120, 12, 40);
    font-weight: bold;
}

/*Tamaño logo*/
.logo img {
    width: 28%;
}

/*Tamaño compra*/
.compra img {
    width: 21%;
}

.búsqueda {
    margin-top: 48px;
    border-radius: 25px;
}

.cuerpo {
    background-color: rgb(202, 224, 188);
}

body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/*ELIMINA TODOS LOS ESTILOS DE LAS LISTAS DEL DOCUMENTO*/
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

/*CONTENEDOR DE DIAPOSITIVAS*/
ul.slider {
    position: relative;
    flex: 1;
    /* ocupa el espacio libre */
    overflow: hidden;
}

/*La primera diapositiva siempre va a estar visible*/
ul.slider li:first-child {
    opacity: 1;
}

/*pseudo-clase que selecciona el elemento cuyo id coincide con el fragmento de la URL actual (el texto después del # en la barra de direcciones)*/
ul.slider li:target {
    opacity: 1;
}

nav {
    position: relative;
    top: 200px;
    left: 50px;
}


/*  A partir de aquí el CSS es puro diseño visual para hacer una versión más vistosa.*/


ul.slider {
    padding: 30px;
}

ul.slider li {
    width: 100vw;
    /*ocupa el ancho del navegador*/
    height: 100vh;
    /*ocupa el alto del navegador*/
    position: absolute;
    /*Para que todas las diapositivas ocupen el mismo sitio*/
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    /* margen arriba y abajo */
    border: 0;
    opacity: 0;
    /*por defecto todas las diapositivas están ocultas*/
    transition: opacity .5s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: calc(1.5rem + 1vw);
    /*para que el texto aumente con el tamaño de la ventana*/
    text-align: center;
}

.slider img {
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 80%;
}

.menu li a {
    padding-top: 30px;
}

.slider li p {
    position: absolute;
    /*para mostrar el texto en la diapositiva*/
    height: 60px;
    width: 70%;
    left: 50px;
    top: 50px;
    color: white;
}

nav {
    width: 100vw;
    top: auto;
    right: 0;
    left: 0;
    background: rgb(202, 224, 188);
}

nav ul {
    display: flex;
    justify-content: center;
    /* centrados */
}

nav ul li {
    display: flex;
    flex-grow: 0.5;
    flex-wrap: wrap;
    box-sizing: border-box;
}

nav a {
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(110, 142, 89);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.8;
    flex-grow: 1;
    text-align: center;
    border-top: 5px solid #00324b;
    border-right: 1px solid #00324b;
    flex-wrap: wrap;
    padding: 10px 15px;
}

nav li:last-child a {
    /*Al último elemento del menú de dipapositivas le quita el borde derecho*/
    border-right: 0;
}

nav a:hover {
    background-color: rgb(110, 142, 89);
    color: #fff;
    border-top-color: white;
}

nav a:active {
    border-top-color: rgb(120, 12, 40);
    background: rgb(120, 12, 40);
    color: rgb(120, 12, 40);
}

/*Pie*/
footer {
    margin-top: 5px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(110, 142, 89);
    color: rgb(120, 12, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

}

.redes img {
    width: 5%;
    float: left;
    margin-left: 20px;
}

footer .logopie img {
    width: 18%;
    margin-top: 8px;
    float: left;
}

.copyright {
    float: right;
    margin-right: 15px;
    margin-left: 12%;
    font-size: 20px;
}